<% if current_user %>
  <% if @my_activities_today && @my_activities_today.count > 0 %>
  <div id="my_activities_today">
    <h2>Today, you are going to...</h2>
    <ul>
    <% @my_activities_today.each do |activity| %>
      <li><%= link_to activity.description_short, activity %></li>
    <% end %>
    </ul>
    <%= link_to 'Have another one?', new_activity_path %>
  </div>
  <% else %>
    <p>You don't have any activities scheduled for today! <%= link_to 'What adventure are you going to have today?', new_activity_path %></p>
  <% end %>
<% else %>
  <div id="intro" class="boxed">
    <p><strong>Do something new today!</strong> Something New is a simple way to track your adventures and to get inspiration from other people's activities.</p>
  
    <p>The site was inspired by the New Year's resolution to do something new every day in 2011. See <a href="http://www.reddit.com/r/somethingnew">the Something New sub-reddit here</a>.</p>
  </div>
<% end %>



<h2>What's everybody else doing today?</h2>
<ul>
  <% @todays_activities.each do |activity| %>
    <li>
      <%= link_to activity.description_short, activity_path(activity) %>
      from 
      <%= link_to activity.user.login, activity.user %>
      </li>
  <% end %>
</ul>

<h2>What'd they do yesterday?</h2>
<ul>
  <% @yesterdays_activities.each do |activity| %>
    <li>
      <%= link_to activity.description_short, activity_path(activity) %>
      from 
      <%= link_to activity.user.login, activity.user %>
      </li>
  <% end %>
</ul>

<div id="columns">
  <div class="boxed width_half left_column">
    <h2>Top Tags</h2>
    <ul>
      <% @top_tags.each do |tag| %>
        <li>
          <%= link_to tag.name, tag_path(tag.name) %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="boxed width_half right_column">
    <h2>Latest Users</h2>
    <ol>
      <% @newest_users.each do |user| %>
        <li><%= link_to user.login, user_path(user) %></li>
      <% end %>
    </ol>
  </div>
  <br style="clear: both" />
</div>