<h2>
  <%= @user.login %>
</h2>

<% if current_user and @user != current_user %>
  <%= link_to 'Message', "/messages/new/?to=#{@user.login}"%><br /><br />
<% end %>

<% if current_user and @user == current_user && @user.location.blank? && @user.reddit.blank? && @user.description.blank? %>
  <%= link_to 'Complete your profile information!', edit_account_path %>
<% end %>

<% if !@user.location.blank? %>
  <b>Location:</b> <%= @user.location %><br />
<% end %>

<% if !@user.reddit.blank? %>
  <b>Reddit:</b> <a href="http://www.reddit.com/user/<%= @user.reddit %>" target="_blank"><%= @user.reddit %></a><br />
<% end %>

<% if !@user.description.blank? %>
  <b>Bio</b><br />
  <%= @user.description %>
<% end %>

<h3>Activities</h3>
<% if @user == current_user %>
  <% if @user.activities.find(:all, :conditions => { :date => Date.today }).count == 0 %>
    <p>You don't have anything scheduled for today yet! Let's set something up now!</p>
    <%= link_to 'New Activity', new_activity_path, :class => "awesome medium red" %>
  <% else %>
    <%= link_to 'New Activity', new_activity_path %><br />
  <% end %>
<% end %>
<ul>
<% @activities.each do |activity| %>
  <li>
  <% if activity.date == Date.today %>
    <%= link_to "#{activity.date} #{activity.description_short}", activity, :class => "awesome medium blue" %>
  <% else %>
    <%= link_to "#{activity.date} #{activity.description_short}", activity %>
  <% end %>
    
  </li>
<% end %>
</ul>

<%= will_paginate @activities %>

<% if @user == current_user %>
  <br /><br /><%= link_to 'Edit Profile', edit_account_path %><br /><br />
<% end %>