<h1>Listing activities</h1>
<% if params[:tag] %>
  <p>
    Searched for tag: <%= params[:tag] %><br />
    <%= link_to 'All Activities', activities_path %>
<% end %>
<table>
  <tr>
    <th>User</th>
    <th>Date</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @activities.each do |activity| %>
  <tr>
    <td><%= link_to activity.user.login, activity.user %></td>
    <td><%= activity.date %></td>
    <td><%= activity.description_short %></td>
    <td><%= link_to 'Show', activity %></td>
    <td>
      <% if current_user == activity.user %>
        <%= link_to 'Edit', edit_activity_path(activity) %>
      <% end %>  
    </td>
    <td>
      <% if current_user == activity.user %>
        <%= link_to 'Destroy', activity, :confirm => 'Are you sure?', :method => :delete %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<%= will_paginate @activities %>

<br />

<%= link_to 'New Activity', new_activity_path %>
