<p>
  <b>User:</b>
  <%= link_to @activity.user.login, @activity.user %>
</p>

<p>
  <b>Date:</b>
  <%= @activity.date %>
</p>

<p>
  <b>Description:</b>
  <%= @activity.description %>
</p>

<h3>Tags</h3>
<div id="tags">
  <%= join_tags(@activity) %>
</div>

<h3>Comments</h3>
  <div id="comments">
    <%= render :partial => "comments/comment",
               :collection => @activity.comments %>
  </div>

<%= will_paginate @comments %>

<% if current_user %>
  <br />
  <strong>Add a Comment</strong>
  <%= render :partial => "comments/form" %>
<% end %>


<% if @activity.user == current_user %>
  <%= link_to 'Edit', edit_activity_path(@activity) %> |
<% end %>
<%= link_to 'All Activities', activities_path %>
