<p>
  <b>User:</b>
  <%= link_to @activity.user.login, @activity.user %>
</p>

<p>
  <b>Date:</b>
  <%= @activity.date %>
</p>

<p>
  <b>Description:</b>
  <%= simple_format @activity.description %>
</p>

<% if @activity.tags.count > 0 %>
  <h3>Tags</h3>
  <div id="tags">
    <%= raw join_tags(@activity) %>
  </div>
<% end %>

<h3 id="comment_header">Comments</h3>
<% if current_user %>
  <%= link_to "new comment", new_activity_comment_path(@activity, :format => :js), :remote => true, :id => 'new_comment_link', :style => 'vertical-align: middle' %><br /><br />
<% end %>
<div id="comments">
  <%= render :partial => "comments/comment",
             :collection => @activity.comments %>
</div>

<%= will_paginate @comments %>




<% if @activity.user == current_user %>
  <%= link_to 'Edit', edit_activity_path(@activity) %> |
  <%= link_to 'Delete', @activity, :confirm => 'This is permanent! Are you sure?', :method => :delete %> |
<% end %>
<%= link_to 'All Activities', activities_path %> |
<a name="fb_share"></a> 
<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" 
        type="text/javascript">
</script>