<!DOCTYPE html>
<html>
<head>
  <title>Something New: Do something new every day for 2011</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag  "http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" %>
  <%= javascript_include_tag  "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js" %>
  <%-# javascript_include_tag :defaults %>
  <%= javascript_include_tag "rails.js" %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="container">
  <div id="header">
    <h1>
      <%= link_to 'Something New', index_path %>
    </h1>
    <div id="account_stuff">
      <% if current_user %>
        Logged in as: <%= link_to current_user.login, user_path(current_user) %>
        | 
        <%= link_to 'Logout', logout_path %>
      <% else %>
        <%= link_to 'Login', login_path, :class => "awesome medium red" %>
        <%= link_to 'Sign Up', signup_path, :class => "awesome medium red" %>
      <% end %>
    </div>
  </div>
  <br style="clear: both" />
  <div id="content">
    <% if flash[:notice] %>
      <div id="flash_notice">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= yield %>
  </div>
</div>


<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-5387408-8']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>